body {
  margin: 0;
  padding: 0;
  background-color:antiquewhite;
}

.App {
  text-align: center;

  .equals {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
  }
}



